[Unit]
Description=Run DHCP recovery 5 minutes after boot, then every 30 minutes

[Timer]
OnBootSec=5min
OnUnitActiveSec=30min
AccuracySec=30s
Unit=check-dhcp.service

[Install]
WantedBy=timers.target
